absl-py==2.1.0
accelerate==0.30.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
apache-beam==2.48.0
apache-flink==1.20.0
apache-flink-libraries==1.20.0
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
avro-python3==1.10.2
backoff==2.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.42.0
black==24.2.0
blinker==1.8.2
blis==0.7.10
boto3==1.34.111
botocore==1.34.111
bs4==0.0.2
build==1.2.1
CacheControl==0.14.0
catalogue==2.0.9
certifi==2024.6.2
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
cleo==2.1.0
click==8.1.7
cloudpickle==2.2.1
comm==0.2.2
compressed-tensors-nightly==0.5.0.20240814
confection==0.1.1
configobj==5.0.8
configparser==6.0.1
contourpy==1.2.1
crashtest==0.4.1
crcmod==1.7
cryptography==45.0.4
ctransformers==0.2.27
cycler==0.12.1
cymem==2.0.7
Cython==3.0.0
dataclasses-json==0.6.4
dataclasses-json-speakeasy==0.5.11
datasets==2.19.2
debugpy==1.8.2
decorator==5.1.1
deepspeed==0.14.4
delocate==0.10.7
Deprecated==1.2.14
diffusers==0.29.2
dill==0.3.1.1
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
dnspython==2.7.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
docutils @ file:///private/tmp/docutils-20231123-5861-dkccqu/docutils-0.20.1
dulwich==0.21.7
einops==0.8.0
emoji==2.10.1
et-xmlfile==1.1.0
etelemetry==0.3.1
evaluate==0.4.2
executing==2.0.1
face-alignment==1.4.1
faiss-cpu==1.7.4
fastapi==0.115.0
fastavro==1.9.7
fasteners==0.19
fastjsonschema==2.19.1
filelock==3.14.0
filetype==1.2.0
find_libpython==0.4.0
Flask==3.0.3
fonttools==4.53.0
frozendict==2.4.5
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
grpcio==1.64.1
h11==0.14.0
hdfs==2.7.3
hjson==3.1.0
hnswlib==0.8.0
html5lib==1.1
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.3
identify==2.6.1
idna==3.7
imageio==2.34.2
importlib_metadata==7.1.0
installer==0.7.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isodate==0.6.1
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
jsonformer==0.12.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
keyring==24.3.1
kiwisolver==1.4.5
langchain==0.1.8
langchain-community==0.0.24
langchain-core==0.3.66
langchain-openai==0.0.8
langcodes==3.3.0
langdetect==1.0.9
langgraph==0.5.0
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.1
langgraph-sdk==0.1.72
langsmith==0.4.4
lazy_loader==0.4
libmagic==1.0
llama-cloud==0.0.17
llama-index==0.11.12
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.12
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.3.1
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.2.9
llama-index-multi-modal-llms-openai==0.2.1
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-parse==0.5.6
llamacpp==0.1.14
# Editable install with no version control (llmcompressor==0.1.0.dev0)
-e /Users/skmishra/repo/llms/experiments/llm-compressor
llvmlite==0.43.0
loguru==0.7.2
looseversion==1.3.0
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.13
multitasking==0.0.11
murmurhash==1.0.9
mypy-extensions==1.0.0
nanoid==2.0.0
nest-asyncio==1.5.9
networkx==3.3
nibabel==5.2.1
ninja==1.11.1.1
nipype==1.8.6
nltk==3.9.1
nodeenv==1.9.1
numba==0.60.0
numexpr==2.8.5
numpy==1.24.4
nvidia-ml-py==12.555.43
objsize==0.6.1
ollama==0.3.3
openai==1.47.1
opencv-python==4.10.0.84
openpyxl==3.1.5
oracledb==3.2.0
orjson==3.10.12
ormsgpack==1.10.0
packaging==23.2
pandas==2.2.2
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pathy==0.10.2
peewee==3.17.6
peft==0.11.1
pemja==0.4.1
pexpect==4.9.0
pillow==10.3.0
pip-tools==7.3.0
pkginfo==1.11.1
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
pre-commit==3.8.0
preshed==3.0.8
prompt_toolkit==3.0.47
proto-plus==1.25.0
protobuf==4.23.4
prov==2.0.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==11.0.0
pyarrow-hotfix==0.6
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydot==1.4.2
pyflink==1.0
PyGithub==2.3.0
Pygments==2.18.0
PyJWT==2.8.0
pymongo==4.10.1
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
PyNaCl==1.5.0
pynvml==11.5.3
pyparsing==3.1.1
pypdf==4.3.1
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-iso639==2024.2.7
python-magic==0.4.27
pytz==2024.1
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.6.1
rdflib==7.0.0
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
responses==0.18.0
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
s3transfer==0.10.1
safetensors==0.4.3
schedulefree==1.2.6
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.13.1
sentence-transformers==3.0.1
sentencepiece==0.2.0
sentry-sdk==2.7.1
setproctitle==1.3.3
shellingham==1.5.4
shtab==1.7.1
simplejson==3.19.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.27
srsly==2.4.7
stack-data==0.6.3
starlette==0.38.6
striprtf==0.0.26
sympy==1.12.1
ta==0.11.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.17.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
text-generation==0.7.0
thinc==8.1.12
threadpoolctl==3.5.0
tifffile==2024.7.2
tiktoken==0.6.0
timm==1.0.3
tnefparse==1.4.0
tokenizers==0.19.1
tomlkit==0.12.5
torch==2.2.2
torchaudio==2.2.2
torchpippy==0.2.0
torchvision==0.17.2
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
traits==6.3.2
transformers==4.41.2
trl==0.9.4
trove-classifiers==2024.5.22
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.12.1
tyro==0.8.5
tzdata==2024.1
unstructured==0.12.4
unstructured-client==0.18.0
urllib3==2.2.1
uvicorn==0.27.1
virtualenv==20.26.2
wandb==0.17.4
wasabi==1.1.2
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
xattr==1.1.0
xlwt==1.3.0
xmltodict==0.13.0
xxhash==3.5.0
yarl==1.9.4
yfinance==0.2.44
zipp==3.19.2
zstandard==0.23.0
